<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h4>EXPRESS</h2>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAP1BMVEVHcEz/kSb/kCb/iST/fiD/cx7+Xxv/ax3/bB3/aBz/YBL/gjj/lGD/qYb/uaD/1cb////+VBf/7eb+ShL8RReXFFVSAAAAFXRSTlMAcuP////UchD//////////////3IGw0X7AAABEklEQVR4AXXSBRbCQAxF0UEqyWga9r9W/m9weTi3YxwSOhxP0Tma0LwktpIor8ZWIC2UfCdBmPNpJNwCwQsHBt00aG9OrwPDiME3fB2lGgNVA3OJzpNOtdVCV9nxnGsfe0VbvCGbJNgpj9riu4qnbaCsJkY85zFaYQqo5pinqZomGHFT7oU4qVagQRMOGMj4dZeMS0TN7DYSirpqAfACEBA2ARGHZxrV9BU7asoduzd89BeMNQu/VXVcc8MpUESIm5vLHWE3pHJh/iCc1i1NL8h5o80MCkTYS4w0bR1Hqu7QQAwJQx6BAmWSIBMzNQQz4gwMExg0cjSn5dVeBF1SCiQ92Xfnn/rPOF8TW+bAV54vgCtwNiC+ymfxrgAAAABJRU5ErkJggg=="
                alt="" class="user-avatar">
              Quang Sơn
            </button>
            <ul class="dropdown-menu">
              <li> <a class="nav-link" href="/courses/create">Đăng khóa học</a>
              </li>
              <div class="dropdown-divider"></div>
              <li> <a class="nav-link" href="/me/stored/courses">Khóa học của tôi</a>
              </li>
              <div class="dropdown-divider"></div>
              <li> <a class="nav-link" href="/logout">Đăng xuất</a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
  </div>
</nav>